@model SinExWebApp20309206.ViewModels.ShipmentsReportViewModel

@{
    ViewBag.Title = "Shipment History";
}

<h2>Shipment History</h2>
@if(User.IsInRole("Employee"))
{ 
    @Html.Partial("_ShipmentsSearchPartial",Model.Shipment)
}
@Html.Partial("_ShipmentsListPartial", Model.Shipments)
@Html.Partial("_ShipmentsPagingPartial", Model.Shipments)





